<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tela Inicial</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="container">
  <h1>Gestão de Clientes</h1>
  <div class="options">
    <a href="cadastro_cliente" class="option">Cadastrar Cliente</a>
    <a href="exibir_clientes" class="option">Exibir Clientes</a>
    <a href="alterar_cliente" class="option">Alterar Dados do Cliente</a>
  </div>
</div>

</body>
</html>
